
.motto {
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.motto svg{
  float: left;
  fill: #1c68b3 ;
  margin-right: 15px;
}
@media screen and (max-width: 1000px){
  .motto svg{
    display: none;
  }
}
.motto h2 {
  font-size: 40px;
  letter-spacing: 2px;
  padding-top: 60px;
}
.motto .linear-wipe {
  text-align: center;
  background: linear-gradient(to left, #3A7575 20%, orange 40%, orange 60%, #3A7575 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
          animation: shine 1s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
